############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Java build outputs
############################
/bin/
/out/
/target/
/build/
*.class

############################
# Eclipse
############################
.project
.classpath
.settings/
.metadata/
.recommenders/

############################
# VS Code
############################
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

############################
# Logs / temp
############################
*.log
*.tmp
*.swp
*~

############################
# IDE caches
############################
*.iml
.idea/
